
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Art & Fantasy Events Platform</title>
      <script type="module" crossorigin src="{{ asset('frontoffice/assets/index-CKC7ctkg.js') }}"></script>
      <link rel="stylesheet" crossorigin href="{{ asset('frontoffice/assets/index-VL1jIILM.css') }}">
    </head>

    <body>
      <div id="root"></div>
    </body>
  </html>
  